services:
  app:
    build:
      context: .
    ports:
      - 8080:8080
    environment:
      SPRING_PROFILES_ACTIVE: dev
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:17
    container_name: docker_db
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: tab_db
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"

volumes:
  db-data:
